body {
    background: #445566;

}

.wrapper {
    width: 100%;
    height: 100vh;
    margin: 3%;

}

.demo {
    border: 1px solid white;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto
}

.demo th {
    border: 2px solid white;
    background: red;
    color: white;
    height: 45px;
}

.demo td {
    border: 2px solid gray;
    width: 38px;
    height: 38px;
    text-align: center;
    background: #eeeeee;
}